cv-analyzer-workflow.json
{
  "name": "AI CV Analyzer Bot",
  "nodes": [
    {
      "parameters": {
        "path": "cv-analyzer",
        "formTitle": "AI CV Analyzer Bot",
        "formDescription": "Upload a CV/Resume (PDF) for instant AI-powered analysis. Results will be emailed to you.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Candidate Name",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Recipient Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Position",
              "fieldType": "text",
              "requiredField": false
            },
            {
              "fieldLabel": "CV File",
              "fieldType": "file",
              "requiredField": true,
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "options": {
          "formSubmittedText": "CV received successfully! The AI is analyzing it now. Results will be sent to your email within 1-2 minutes."
        }
      },
      "id": "f1a00001-0001-4000-b000-000000000001",
      "name": "CV Upload Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [240, 300],
      "webhookId": "cv-analyzer"
    },
    {
      "parameters": {
        "jsCode": "// Normalize the binary property name so Extract from File always finds it\nconst item = $input.first();\nconst binaryKeys = Object.keys(item.binary || {});\n\nif (binaryKeys.length === 0) {\n  throw new Error('No file was uploaded! Please upload a PDF file.');\n}\n\nconst firstBinaryKey = binaryKeys[0];\n\nreturn [{\n  json: item.json,\n  binary: {\n    data: item.binary[firstBinaryKey]\n  }\n}];"
      },
      "id": "f1a00001-0002-4000-b000-000000000002",
      "name": "Normalize Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data"
      },
      "id": "f1a00001-0003-4000-b000-000000000003",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const pdfOutput = $input.first().json;\nconst cvText = pdfOutput.text || pdfOutput.data || pdfOutput.content || JSON.stringify(pdfOutput);\n\nconst formData = $('CV Upload Form').first().json;\nconst candidateName = formData['Candidate Name'] || formData['candidateName'] || formData['candidate_name'] || 'Unknown';\nconst recipientEmail = formData['Recipient Email'] || formData['recipientEmail'] || formData['recipient_email'] || '';\nconst jobPosition = formData['Job Position'] || formData['jobPosition'] || formData['job_position'] || '';\n\nif (!recipientEmail) {\n  throw new Error('Recipient email is missing! Please fill in the email field.');\n}\n\nlet positionContext = '';\nif (jobPosition && jobPosition.trim() !== '') {\n  positionContext = `\\n\\nIMPORTANT: The candidate is specifically applying for the role of: ${jobPosition}\\nProvide EXTRA DETAILED analysis of how well they fit this specific role.`;\n}\n\nconst prompt = `You are a smart HR agent and expert CV/Resume analyst with years of experience evaluating candidates across all industries. Analyze the following CV/Resume thoroughly and provide a professional assessment.${positionContext}\n\n========== CV/RESUME CONTENT ==========\n${cvText}\n========== END OF CV ==========\n\nProvide your complete analysis in this EXACT format:\n\n============================================\n         AI CV ANALYSIS REPORT\n============================================\n\nCANDIDATE OVERVIEW\n  Name: [Extract from CV]\n  Email: [Extract from CV]\n  Phone: [Extract from CV]\n  Location: [Extract from CV]\n  LinkedIn/Portfolio: [Extract if available, otherwise N/A]\n\nSKILLS ANALYSIS\n  Technical Skills: [List all technical/hard skills]\n  Soft Skills: [List all soft skills identified from experience]\n  Tools & Technologies: [List specific tools, software, frameworks]\n  Programming Languages: [List if applicable]\n  Spoken Languages: [List languages]\n  Certifications: [List any certifications or courses]\n\nEXPERIENCE SUMMARY\n  Total Years of Experience: [Estimate from work history]\n  Current/Latest Role: [Most recent job title at company]\n  Key Positions:\n    - [Job Title] at [Company] ([Duration]) - [One line achievement]\n    - [Job Title] at [Company] ([Duration]) - [One line achievement]\n    - [Job Title] at [Company] ([Duration]) - [One line achievement]\n  Industries: [List all industries worked in]\n  Notable Achievements:\n    - [Key achievement 1]\n    - [Key achievement 2]\n    - [Key achievement 3]\n\nEDUCATION\n  - [Degree/Qualification] from [Institution] ([Year])\n  - [Additional education if any]\n\nTOP 5 STRENGTHS\n  1. [Strength] - [Why this is a strength based on CV evidence]\n  2. [Strength] - [Why this is a strength based on CV evidence]\n  3. [Strength] - [Why this is a strength based on CV evidence]\n  4. [Strength] - [Why this is a strength based on CV evidence]\n  5. [Strength] - [Why this is a strength based on CV evidence]\n\nAREAS FOR IMPROVEMENT\n  1. [Area] - [Specific suggestion to improve]\n  2. [Area] - [Specific suggestion to improve]\n  3. [Area] - [Specific suggestion to improve]\n\nMOST RELEVANT JOB ROLE\n  Suggested Role: [e.g., ML Engineer, Frontend Developer, Data Analyst, etc.]\n  Why This Role: [2-3 sentences explaining the fit]\n  Role Fit Score: [X]/10\n${jobPosition ? `\\nFIT FOR ${jobPosition.toUpperCase()}\\n  Match Score: [X]/10\\n  Matching Skills: [List skills that match]\\n  Missing Skills: [List skills they lack]\\n  Recommendation: [Hire / Consider / Not a fit] with reasoning` : ''}\n\nJOB FIT SCORES (1-10)\n  Software Development:    [X]/10\n  Data Science/AI/ML:      [X]/10\n  Project Management:      [X]/10\n  Marketing/Sales:         [X]/10\n  Design/Creative:         [X]/10\n  DevOps/Cloud:            [X]/10\n  Consulting:              [X]/10\n\nOVERALL CV SCORE: [XX]/100\n\nHIRING RECOMMENDATION\n  Verdict: [STRONG HIRE / HIRE / MAYBE / PASS]\n  Hiring Message: [2-3 sentence professional assessment that could be used as internal hiring notes or sent to the candidate. Be specific about why they should or should not be hired.]\n\nCV IMPROVEMENT TIPS\n  1. [Specific actionable tip]\n  2. [Specific actionable tip]\n  3. [Specific actionable tip]\n  4. [Specific actionable tip]\n  5. [Specific actionable tip]\n\nEXECUTIVE SUMMARY\n[3-4 sentence overall assessment covering the candidate's potential, best career path, and final recommendation]\n\n============================================`;\n\nreturn [{\n  json: {\n    prompt,\n    candidateName,\n    recipientEmail,\n    jobPosition: jobPosition || 'General'\n  }\n}];"
      },
      "id": "f1a00001-0004-4000-b000-000000000004",
      "name": "Prepare Analysis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'You are a smart HR agent and expert CV/Resume analyst. Provide detailed, well-structured, professional analysis. Follow the exact format requested. Be thorough but concise.' }, { role: 'user', content: $json.prompt }], temperature: 0.3, max_tokens: 4000 }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f1a00001-0005-4000-b000-000000000005",
      "name": "Analyze with OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nif (response.error) {\n  throw new Error('OpenAI API Error: ' + JSON.stringify(response.error));\n}\n\nconst analysis = response.choices?.[0]?.message?.content || 'Error: Could not generate analysis.';\nconst tokensUsed = response.usage?.total_tokens || 'N/A';\nconst model = response.model || 'gpt-4o-mini';\n\nconst promptData = $('Prepare Analysis Prompt').first().json;\n\nconst emailBody = `Hello,\n\nYour AI CV Analyzer has completed the analysis.\n\nCandidate: ${promptData.candidateName}\nPosition: ${promptData.jobPosition}\n\n${analysis}\n\n---\nPowered by OpenAI ${model} | Automated with n8n\nTokens used: ${tokensUsed}\n\nNote: This is an AI-generated analysis. Use it as a supplementary tool, not as the sole basis for hiring decisions.`;\n\nreturn [{\n  json: {\n    emailBody,\n    recipientEmail: promptData.recipientEmail,\n    candidateName: promptData.candidateName,\n    jobPosition: promptData.jobPosition,\n    subject: 'CV Analysis Report: ' + promptData.candidateName + ' - ' + promptData.jobPosition\n  }\n}];"
      },
      "id": "f1a00001-0006-4000-b000-000000000006",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.recipientEmail }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "f1a00001-0007-4000-b000-000000000007",
      "name": "Send via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1700, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "CV Upload Form": {
      "main": [
        [
          {
            "node": "Normalize Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Upload": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Prepare Analysis Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Analysis Prompt": {
      "main": [
        [
          {
            "node": "Analyze with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze with OpenAI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "2",
  "meta": {
    "instanceId": "ai-cv-analyzer-bot-v2"
  },
  "tags": []
}
